/*Палитра сайта*/
/*Цвет основного текста заголовков #212121 */
/*Вторичный цвет текста #757575 */
/*Цвет контактов rgba(255, 255, 255, 0.6) */
/* Цвет логотипа в хедере #000000 */
/*Белый цвет #FFFFFF */
/*Цвет акцента #2196F3 */
/*Цвет кнопки при наведении #188CE8 */
/*Цвет фона #2F303A #E5E5E5  #FFFFFF */
/*Цвет рамки кнопок фильтра #F5F4FA */
/*Цвет рамки картинок в Портфолио #CCCCCC */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --accent-background-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --background-features-color: #E5E5E5;
    --black-color: #000000;
    --accent-button: #188CE8;
    --button-color: #F5F4FA;
}
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background: var(--background-features-color);
    font-family: "Roboto", sans-serif;
    color: var(--title-text-color);
}

.container {
    max-width: 1200px;
    padding: 95px 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

/*шапка сайта*/
.header-container {
    padding-bottom: 0;
    padding-top: 0;
}

.site-nav {
    display: flex;
}

.nav-container {
    display: flex;
    align-items: center;
}

.site-nav .list-item {
    margin-right: 50px;
}

.site-nav .list-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.logo-accent {
    margin-left: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:  1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.site-nav .logo-header {
    margin-left: 0;
    margin-right: 95px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
    font-style: 700;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav:hover,
.auth-nav:focus {
    color: var(--accent-color);
}
/*Main*/
/*Баннер*/
.hero {
    background-color: var(--accent-background-color);
    text-align: center;
    margin-bottom: 95px;
}

.hero .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
}

.hero .button {
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--accent-button);
}

/*Заголовки секций*/
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Особенности*/
.list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Чем мы занимаемся*/

/*Наша команда*/
.card {
    background-color: var(--primary-white-color);
}

.card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.card-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Подвал*/

.contacts {
    background-color: var(--accent-background-color);
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color); 
}

.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color); 
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contacts-color);
}

.contacts-item > a {
    color: var(--primary-white-color);
}

/*Портфолио*/
.projects .link:hover,
.projects .link:focus {
    color: var(--accent-color);
}
.portfolio-container{

}
.portfolio-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--button-colol);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--button-colol);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
}

.projects-title {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.projects-text {
    margin-top: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
}

.card-item {
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: calc((100%-30px)/3);
}

