/*Палитра сайта*/
/*Цвет основного текста заголовков #212121 */
/*Вторичный цвет текста #757575 */
/*Цвет контактов rgba(255, 255, 255, 0.6) */
/* Цвет логотипа в хедере #000000 */
/*Белый цвет #FFFFFF */
/*Цвет акцента #2196F3 */
/*Цвет кнопки при наведении #188CE8 */
/*Цвет фона #2F303A #E5E5E5  #FFFFFF */
/*Цвет рамки кнопок фильтра #F5F4FA */
/*Цвет рамки картинок в Портфолио #CCCCCC */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --accent-background-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --background-features-color: #E5E5E5;
    --black-color: #000000;
    --accent-button: #188CE8;
}

body {
    background: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
    color: var(--title-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/*шапка сайта*/
.site-nav .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.logo-accent {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:  1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.site-nav .logo-header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav {
    font-style: 700;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.auth-nav:hover,
.auth-nav:focus {
    color: var(--accent-color);
}
/*Main*/
/*Баннер*/
.hero {
    background-color: var(--accent-background-color);
}

.hero .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--accent-button);
}

/*Заголовки секций*/
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Особенности*/
.features {
    background-color: var(--background-features-color);
}

.list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Наша команда*/
.card {
    background-color: var(--primary-white-color);
}

.card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.card-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Подвал*/

.contacts {
    background-color: var(--accent-background-color);
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color); 
}

.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color); 
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contacts-color);
}

.contacts-item > a {
    color: var(--primary-white-color);
}

/*Портфолио*/
.projects .link:hover,
.projects .link:focus {
    color: var(--accent-color);
}
.portfolio-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
}

.projects-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.projects-text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}